/*Global*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
section {
  margin-bottom: 100px;
}
p {
  color: #828282;
  font-weight: 100;
  font-size: 18px;
}
.highlights {
  color: rgb(250, 99, 44);
}
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(#fba24f, #ff1e1e);
  padding: 15px 30px;
  color: #ffffff;
  border-radius: 50px;
}

/*Navbar*/
header {
  background-image: linear-gradient(#ffa4a4, #ffdddd);
}
.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 25%;
}
.nav-logo img {
  width: 100%;
}
.navigation-links {
  width: 60%;
  position: right;
}

.navigation-links li {
  text-decoration: none;
  display: inline-block;
  padding-left: 7%;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/*Top Section*/
.top-section {
  margin-top: 20px;
}
.top-section .btn {
  margin-top: 50px;
}
h1 {
  font-size: 40px;
  margin-top: 20px;
  padding: 0;
  color: #575757;
}
.second-section {
  background-image: url(images/shapes/9.png);
}
.flexible-container {
  width: 90%;
  margin: auto;
  display: flex;
}
.half-part {
  width: 50%;
}
.half-part img {
  width: 90%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.top-section .part2 {
  text-align: right;
  margin-top: 70px;
}
/*Second Section*/
.second-section .part1 {
  padding-right: 5%;
  margin-top: 70px;
}
.second-section p {
  text-align: justify;
}
.second-section .btn {
  margin-top: 80px;
}

/*third Section*/

.reciepy-header {
  text-align: center;
  width: 80%;
  margin: auto;
}
.reciepy-header h2 {
  font-size: 30px;
  color: #575757;
}
.reciepy-header p {
  justify-content: center;
  padding: 0 10%;
  padding-bottom: 2%;
}
.reciepy-blog {
  width: 90%;
  margin: auto 3% auto 5%;
  display: flex;
}
.reciepy-bg {
  background-image: url(images/food/Project\ Cover4.png);
}
.each-blog {
  width: 32%;
  margin: 2% 2%;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.each-blog img {
  width: 95%;
  padding: 2%;
}
.each-blog h3 {
  font-size: 22px;
}
.each-blog p {
  padding-right: 5%;
  padding-left: 5%;
  text-align: justify;
}

/*Followers Info*/
.followers-info {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
}
.each-info {
  width: 32%;
  margin: 2% 2%;
  text-align: center;
}

/*Newletter Section For Bonus Marks*/
.newsletter {
  background-image: linear-gradient(#ff8a7577, #ff634777);
}
.newsletter-container {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
}

.newsletter h2 {
  padding: 2% 5%;
  color: #363636;
}
.newsletter .title-part {
  text-align: center;
  justify-content: center;
}
.newsletter .email-part {
  display: flex;
  text-align: center;
  justify-content: center;
}
.newsletter .email-box {
  padding: 2%;
  margin-right: 2%;
  margin-top: 7%;
  font-size: 20px;
}
.newsletter .email-btn {
  margin-top: 9%;
}
/*Footer*/
footer {
  display: flex;
  justify-content: center;

  margin: auto;
  height: 200px;
  align-items: center;
  text-align: center;
  background-color: #272727;
}
.footer-div {
  width: 50%;
}
.main-tagline {
  font-size: 22px;
}
